a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2b75db;
}
a span {
    margin-right: 0.25em;
}
a img {
    width: 1.5em;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.owner {
    display: flex;
    align-items: center;
}
.owner img {
    max-width: 3em;
    border-radius: 2em;
}

.owner a {
    margin: 0 1em;
}

.info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dates {
    display: flex;
}
.dates p {
    margin-right: 1em;
}

.description {
    font-size: large;
}

.files {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
