.header {
    display: flex;
    justify-content: space-between;
}

.owner {
    display: flex;
    align-items: center;
    padding: 1em;
}
.owner img {
    max-width: 4em;
    border-radius: 2em;
}

.owner a {
    margin: 0 1em;
}

.info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dates {
    display: flex;
}
.dates p {
    margin: 1em;
}