.header {
    display: flex;
    justify-content: space-between;
}

.owner {
    display: flex;
    align-items: center;
}
.owner a {
    margin: 0 1em;
}

.info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    max-width: 4em;
    border-radius: 2em;
}
